{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'whitebox/aka/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'whitebox/aka/css/style.css'%}">
    <title>灯橙あか</title>
</head>
<body>
    <img src="{% static 'whitebox/aka/images_aka.png' %}">
    <img src="{% static 'whitebox/aka/setumei.png' %}">
    <div class="sns-icon">
        <ul>
            <li class="sns">
                <div class="sns-links_1">
                    <a class="icon-external-YouTube" href="https://www.youtube.com/@todaiaka" target="_blank">
                        <img src="{% static 'whitebox/aka/SNS/IMG_YouTube.PNG' %}" alt="YouTube">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_2">
                    <a class="icon-external-Twitter" href="https://twitter.com/i/flow/login?redirect_after_login=%2Ftoodai_Aka81" target="_blank">
                        <img src="{% static 'whitebox/aka/SNS/IMG_Twitter.PNG' %}" alt="Twitter">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_3">
                    <a class="icon-external-Instagram" href="https://www.instagram.com/toodaiaka81/" target="_blank">
                        <img src="{% static 'whitebox/aka/SNS/IMG_instagram.PNG' %}" alt="instagram">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_4">
                    <a class="icon-external-Tiktok" a href="https://www.tiktok.com/@toodaiaka81" target="_blank">
                        <img src="{% static 'whitebox/aka/SNS/IMG_TikTok.PNG' %}" alt="TikTok">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>