{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'whitebox/coco/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'whitebox/coco/css/style.css'%}">
    <title>ココ</title>
</head>
<body>
    <img src="{% static 'whitebox/coco/images_coco.jpg' %}">
    <img src="{% static 'whitebox/coco/setumei.jpg' %}">
    <div class="sns-icon">
        <ul>
            <li class="sns">
                <div class="sns-links_1">
                    <a class="icon-external-YouTube" href="https://www.youtube.com/channel/UCj5OhmvBmaaiZBHXlyvMIJw">
                        <img src="{% static 'whitebox/coco/SNS/IMG_YouTube.PNG' %}" alt="YouTube">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_2">
                    <a class="icon-external-Twitter" href="https://twitter.com/coco_nishimuku?s=21&t=dqtEnJR96WNaQlxi1_xrEA">
                        <img src="{% static 'whitebox/coco/SNS/IMG_Twitter.PNG' %}" alt="Twitter">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_3">
                    <a class="icon-external-Instagram" href="https://www.instagram.com/coco_n69">
                        <img src="{% static 'whitebox/coco/SNS/IMG_instagram.PNG' %}" alt="Instagram">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_4">
                    <a class="icon-external-Tiktok" a href="https://www.tiktok.com/@coco_n69?is_from_webapp=1&sender_device=pc">
                        <img src="{% static 'whitebox/coco/SNS/IMG_TikTok.PNG' %}" alt="TikTok">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>