{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'whitebox/teddy/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'whitebox/teddy/css/style.css'%}">
    <title>テディ</title>
</head>
<body>
    <img src="{% static 'whitebox/teddy/images_teddy.png' %}">
    <img src="{% static 'whitebox/teddy/setumei.png' %}">
    <div class="sns-icon">
        <ul>
            <li class="sns">
                <div class="sns-links_1">
                    <a class="icon-external-YouTube" href="https://www.youtube.com/@whitebox9822" target="_blank">
                        <img src="{% static 'whitebox/teddy/SNS/IMG_YouTube.PNG' %}" alt="YouTube">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_2">
                    <a class="icon-external-Twitter" href="https://twitter.com/teddy_boxbox?s=21&t=dqtEnJR96WNaQlxi1_xrEA" target="_blank">
                        <img src="{% static 'whitebox/teddy/SNS/IMG_Twitter.PNG' %}" alt="Twitter">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_3">
                    <a class="icon-external-Instagram" href="https://www.instagram.com/teddy.ac/" target="_blank">
                        <img src="{% static 'whitebox/teddy/SNS/IMG_instagram.PNG' %}" alt="Instagram">
                    </a>
                </div>
            </li>
            <li class="sns">
                <div class="sns-links_4">
                    <a class="icon-external-Tiktok" a href="https://www.tiktok.com/@whitebox95?is_from_webapp=1&sender_device=pc" target="_blank">
                        <img src="{% static 'whitebox/teddy/SNS/IMG_TikTok.PNG' %}" alt="TikTok">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>